Cantera_lib
dummy_python

ORCh/cppflow
ORCh/*/*.o
ORCh/emst/*.mod

Cantera/build
Cantera/.sconf_temp
Cantera/config.log
Cantera/.sconsign.dblite
Cantera/include/cantera/ext/fmt
Cantera/interfaces/cython/cantera/_cantera.h
Cantera/src/pch/system.h.gch
